name: Update DestRepo M3U
on:
  # schedule:
    # - cron: '0 * * * *' # Every hour
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ControlRepo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        run: python generate_m3u.py

      - name: Clone DestRepo and Push
        run: |
          # Configure Git
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.PAT_FG_SYNC }}@github.com/AmSin1/Repo.git
          
          # Clone only the specific branch 'autocreate' from destrepo
          git clone --branch autocopied https://${{ secrets.PAT_FG_SYNC }}@github.com/AmSin1/Repo.git dest_folder
          
          # Move the generated m3u into the cloned folder
          mv playlist.m3u dest_folder/
          
          # Commit and Push
          cd dest_folder
          git add playlist.m3u
          # Only commit if there are changes to avoid workflow failure
          git diff-index --quiet HEAD || git commit -m "Auto-update playlist.m3u"
          git push origin autocopied
